.tab-pane{background-color:#fff;padding:10px;/* float: left; */margin: 0 0.5%;}
.mix-filter{-webkit-padding-start: 0;width: 100%;display: block;height: 80px;padding: 10px 0;}
.mix-filter li{border: 1px solid #EA8010;width: 100px;float: left;height: 30px;line-height: 30px;text-align: center;margin-right: 10px;}
.mix-filter li a{color: #EA8010;}
.thumbnails{margin:-10px;}
.thumbnails .category_1{/* width:235px; *//* height:300px; */display:block;overflow:hidden;}
.mix-inner a img{width: 100%;height:180px;}
.mix-details h5{  width:100%; overflow:hidden; height:20px;}
.mix-details p span{color:#f00; font-size:22px}

.page-breadcrumb{width:100%;height:50px;padding: 10px;-webkit-padding-start: 0px;}
.page-breadcrumb li{width:100px;background:#EA8010;height: 30px;line-height: 30px;text-align: center;}
.tabbable{ background:#fff; padding:0 10px;}
.profile-info h4{  font-size:18px; font-weight:bold;}
.profile-info p{color: #aaaaaa;}
.profile-info .price_a {
    background-size: cover;
    padding: 0 10px;
    background: url('../052401/nmmcss/ddprice_bg.gif') repeat;
    border-bottom: 1px #dddddd dotted;margin-bottom: 10px;
}
.BuyB {
    height: 45px;
    width: 175px;
    line-height: 20px;
    text-align: center;
    margin-right: 10px;
    font-size: 15px;
    border: 1px #eb4e00 solid;
    border-radius: 5px;
    display: inline-block;
    color: #fff;
    font-weight: bold;
    box-shadow: 0 5px 5px #cccccc;
    background-image: -moz-linear-gradient(top, #fe8617, #f55300);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #fe8617), color-stop(1, #f55300));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c6ff00', endColorstr='#538300', GradientType='0');
}
.BuyB:hover {
    background-image: -moz-linear-gradient(top, #f55300, #fe8617);
    background-image: -webkit-gradient(linear, left top, left bottom, color-stop(0, #f55300), color-stop(1, #fe8617));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#c6ff00', endColorstr='#538300', GradientType='0');
}
.nav-tabs > li.active > a, .nav-tabs > li.active > a:hover, .nav-tabs > li.active > a:focus {
    border: 0px solid #e4e5e7;
    border-bottom-color: transparent;
    color: #EA8010;
    cursor: default;
    background: transparent;
    border-bottom: 3px solid #EA8010;
}
table {
    background-color: white;
}
.cf90{ color:#f90; font-weight:600;padding: 10px;}
.profile-info .price_a p{ color:#333;}
.bg-fff{background:#fff;margin: 15px;padding: 0;}
.list-unstyled{border: 1px solid #ddd;padding: 10px;}
.amounts{ border:0}
.b-dash{border: 1px dashed #EA8010;}
.invoice{ padding:20px 0}

#sample-table-1_wrapper{ margin:0 0.5%;}